@font-face {
  font-family: "pixol";
  src: url(fonts/VT323-Regular.ttf);
}
#body {
  background-color: rgb(91, 97, 102);
  font-family: "pixol";
  -webkit-text-stroke-width: 0.0004px;
  -webkit-text-stroke-color: rgb(59, 59, 59);
}

.header {
  margin: 0px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #727675;
  color: rgb(72, 72, 72);
  font-size: 30px;
}

#name {
  margin-top: 0px;
  background-color: #727675;
  text-align: left;
  margin-right: 0.5%;
  float: left;
  width: 49.5%;

  font-size: 30px;
}

#hellodiv {
  margin-left: 0.5%;
  text-align: center;
  width: 49.5%;
  float: right;
  background-color: #727675;
}
.h2 {
  inline-size: 770px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(26, end), blink-caret 0.25s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 770px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
